  <!-- Sidebar -->
  <div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
      <!-- Logo Header -->
      <div class="logo-header" data-background-color="dark">
        <a href="index.html" class="logo">
          <img
            src="assets/img/kaiadmin/logo_light.svg"
            alt="navbar brand"
            class="navbar-brand"
            height="20"
          />
        </a>
        <div class="nav-toggle">
          <button class="btn btn-toggle toggle-sidebar">
            <i class="gg-menu-right"></i>
          </button>
          <button class="btn btn-toggle sidenav-toggler">
            <i class="gg-menu-left"></i>
          </button>
        </div>
        <button class="topbar-toggler more">
          <i class="gg-more-vertical-alt"></i>
        </button>
      </div>
      <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
      <div class="sidebar-content">
        <ul class="nav nav-secondary">
          <li class="nav-item" routerLinkActive="active">
            <a data-bs-toggle="collapse" routerLink="/admin/dashboards">
              <i class="fas fa-home"></i>
              <p>{{"Dashboard"|translate}}</p>
            </a>
          </li>
          <li class="nav-section">
            <span class="sidebar-mini-icon">
              <i class="fa fa-ellipsis-h"></i>
            </span>
            <h4 class="text-section">Components</h4>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a data-bs-toggle="collapse" routerLink="/admin/payement-gateways">
              <i class="fa-solid fa-money-bill-transfer"></i>
              <p>{{"payement gateway"|translate}}</p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a data-bs-toggle="collapse" routerLink="/admin/subscriptions/pakage-user">
              <i class="fa-solid fa-money-bill-transfer"></i>
              <p>{{"Manage Subscriptions"|translate}}</p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" >
            <a data-bs-toggle="collapse"  routerLink="/admin/wifi-zones">
              <i class="fa-solid fa-wifi"></i>
              <p>{{"Wi-Fi zone"}}</p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a data-bs-toggle="collapse" routerLink="/admin/pakage-wifis">
              <i class="fa-solid fa-boxes-packing"></i>
              <p>{{"pakage-Wifi"|translate}}</p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a data-bs-toggle="collapse" routerLink="/admin/ticket-wifis">
              <i class="fa-solid fa-ticket"></i>
              <p>{{"Ticket-Wifi"|translate}}</p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a data-bs-toggle="collapse" routerLink="/admin/transactions">
              <i class="fa-solid fa-money-bill-transfer"></i>
              <p>{{"transactions"|translate}}</p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a data-bs-toggle="collapse" routerLink="/admin/subscriptions">
              <i class="fa-solid fa-money-bill-transfer"></i>
              <p>{{"subscriptions"|translate}}</p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a data-bs-toggle="collapse" routerLink="/admin/users">
              <i class="fa-solid fa-users"></i>
              <p>{{"users"|translate}}</p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a data-bs-toggle="collapse" routerLink="/admin/withdrawals">
              <i class="fa-solid fa-money-bill-transfer"></i>
              <p>{{"Withdrawals"|translate}}</p>
            </a>
          </li>
          <li class="nav-item">
            <a (click)="logOut()" routerLink="/"><i class="fa fa-sign-out"></i> <p class="nav-label">{{"LogOut"|translate}}</p></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Sidebar -->