<div class=" justify-content-center">
    <div class="modal-header">
        <h5 class="modal-title">{{"Create"|translate}} {{"payement gateway"|translate}}</h5>
        <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn-close"  aria-label="Close" (click)="dismiss()"></button>
    </div>
    
    <div class="body p-4">
        @if(error$|async;as error){
            <span class="text-danger">{{error.message}}</span>
        }
        <form [formGroup]="payementGatewayForm">
            <!-- Name input -->
            <div  class="form-outline mb-4">
                <label class="form-label" for="site_id">{{"Name"|translate}}</label>
                <input type="text" id="site_id" class="form-control"  formControlName="name" />
                @if(btnSubmit&&payementGatewayForm.invalid&&payementGatewayForm.get('name')?.invalid)
                    {
                        <span class="text-danger">{{getFormControlErrorText(payementGatewayForm.get('name'))}}</span>
                    }
            </div>
            <div  class="form-outline mb-4">
                <label class="form-label" for="site_id">{{"site_id"|translate}}</label>
                <input type="text" id="site_id" class="form-control"  formControlName="site_id" />
                @if(btnSubmit&&payementGatewayForm.invalid&&payementGatewayForm.get('site_id')?.invalid)
                    {
                        <span class="text-danger">{{getFormControlErrorText(payementGatewayForm.get('site_id'))}}</span>
                    }
            </div>
            <div  class="form-outline mb-4">
                <label class="form-label" for="secret_key">{{"secret_key"|translate}}</label>
                <input type="text" id="secret_key" class="form-control"  formControlName="secret_key" />
                @if(btnSubmit&&payementGatewayForm.invalid&&payementGatewayForm.get('secret_key')?.invalid)
                    {
                        <span class="text-danger">{{getFormControlErrorText(payementGatewayForm.get('secret_key'))}}</span>
                    }
            </div>

            <div  class="form-outline mb-4">
                <label class="form-label" for="api_key">{{"api_key"|translate}}</label>
                <input type="text" id="api_key" class="form-control"  formControlName="api_key" />
                @if(btnSubmit&&payementGatewayForm.invalid&&payementGatewayForm.get('api_key')?.invalid)
                    {
                        <span class="text-danger">{{getFormControlErrorText(payementGatewayForm.get('api_key'))}}</span>
                    }
            </div>
            <div  class="form-outline mb-4">
                <label class="form-label" for="url">{{"url"|translate}}</label>
                <input type="text" id="url" class="form-control"  formControlName="url" />
                @if(btnSubmit&&payementGatewayForm.invalid&&payementGatewayForm.get('url')?.invalid)
                    {
                        <span class="text-danger">{{getFormControlErrorText(payementGatewayForm.get('url'))}}</span>
                    }
            </div>
        </form>
        <div  class="form-outline mb-4">
            <button type="submit" style="margin-top :25px;width: 100%;" class="btn btn-primary" (click)="submitForm()"> {{typeOperation|translate|titlecase}} </button>
        </div>
    </div>
</div>