<div>
    <div class="flex mb-20 mt-10">
        <div class="w-1/2">
            <h1>{{"Pakage Wi-Fi"|translate}}</h1>
        </div>
        <div class="w-1/2">
            <button  class="btn btn-primary btn-round" (click)="createPakageWifi()">{{"Add Pakage Wi-fi"|translate}}</button>
        </div>
    </div>
    
    <div>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" >
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr >
                    
                    <th scope="col" class="px-6 py-3">{{"Designation"|translate}}</th>
                    <th scope="col" class="px-6 py-3">{{"description"|translate}}</th>
                    <th scope="col" class="px-6 py-3">{{"Wifi-Zone"|translate}}</th>
                    <th scope="col" class="px-6 py-3">{{"price"|translate}}</th>
                    <th scope="col" class="px-6 py-3">{{"create at"|translate}}</th>
                    <th scope="col" class="px-6 py-3">Actions</th>
                    
                    
                </tr>
            </thead>
            
            <tbody>
                @if(PakageWifis$|async; as PakageWifis){
                    @for(pakageWifi of PakageWifis;track pakageWifi.id;;let i=$index){
                        <tr class="dark:bg-gray-800 dark:border-gray-700" [ngClass]="i%2!==0?'bg-gray-100 border-b':'bg-white border-b'">
                            <td class="px-6 py-4 primary-color" (click)="updatePakageWifi(pakageWifi)">{{pakageWifi.designation}}</td>
                            <td class="px-6 py-4">{{pakageWifi.description}}</td>
                            <td class="px-6 py-4">{{pakageWifi.zone_wifis.name}}</td>
                            <td class="px-6 py-4">{{pakageWifi.price}}</td>
                            <td class="px-6 py-4">{{pakageWifi.created_at|date:'medium'}}</td>
                            
                            <td class="btn-action">
                                <button  class="btn btn-primary btn-warning" (click)="updatePakageWifi(pakageWifi)"><i class="fas fa-edit"></i></button>
                            </td>
                        </tr>
                    }
                }
                    
            
            </tbody>
        </table>
        <mat-paginator #paginator [length]="totaElement" (page)="pageEvent=pageChange($event)"
        [pageSize]="itemsPerPage"
       [pageSizeOptions]="pageArray"
       
       aria-label="Select page">
       </mat-paginator>
    </div>
</div>