<div>
    <div class="flex mb-20 mt-10">
        <div class="w-1/2">
            <h1>{{"Subscriptions"|translate}}</h1>
        </div>
    </div>
    
    <div>
        <div class="">
            
            <div class="current-subscription mb-8">
                
                @if(pakageUser$|async;as pakageUser){
                    <div class="form-check">
                        <label class="form-check-label" for="flexCheckChecked">
                            {{"enabled sending messages to users"|translate}}
                          </label>
                        <input class="form-check-input" type="checkbox" [value]="pakageUser.is_send_message" id="flexCheckChecked" [checked]="pakageUser.is_send_message?'checked':null" (click)="isEntityCheck($event)">
                      </div>
                    <div class="flex flex-col mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white mr-12">
                        <p class="primary-color">{{"current subscription"|translate}}</p>
                        <h3 class="mb-4 text-2xl font-semibold primary-color">{{pakageUser.pakage.name}}</h3>
                        <!--<p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">Best option for personal use & for your next project.</p>-->
                        <div class="flex justify-center items-baseline my-8">
                            <span class="mr-2 text-5xl font-extrabold primary-color">{{pakageUser.pakage.fixed_charge}} FCFA</span>
                            <span class="text-gray-500 dark:text-gray-400 primary-color">/{{pakageUser.pakage.type|translate}}</span>
                        </div>
                        <!-- List -->
                        <ul role="list" class="mb-8 space-y-4 text-left">
                            <li class="flex items-center space-x-3">
                                <!-- Icon -->
                                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>{{"fixed charge"|translate}}: <span class="font-semibold primary-color">{{pakageUser.pakage.fixed_charge}}</span></span>
                            </li>
                            <li class="flex items-center space-x-3">
                                <!-- Icon -->
                                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                                <span>{{"sms charge"|translate}}: <span class="font-semibold primary-color">{{pakageUser.pakage.sms_charge}}</span></span>
                                
                            </li>
                            <li class="flex items-center space-x-3">
                                <!-- Icon -->
                                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                                <span>{{"minimum withdrawal"|translate}}: <span class="font-semibold primary-color">{{pakageUser.pakage.min_limit}}</span></span>
                            </li>
                        </ul>
                    </div>
                    }
            </div>
            <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
                <!-- Pricing Card -->
                 @if(pakages$|async;as pakages){
                    @for(pakage of pakages;track pakage.id){
                        <div class="flex flex-col mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white mr-12">
                            <h3 class="primary-color mb-4 text-2xl font-semibold">{{pakage.name}}</h3>
                            <!--<p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">Best option for personal use & for your next project.</p>-->
                            <div class="flex justify-center items-baseline my-8">
                                <span class="mr-2 text-5xl font-extrabold primary-color">{{pakage.fixed_charge}} FCFA</span>
                                <span class="text-gray-500 dark:text-gray-400 primary-color">/{{pakage.type|translate}}</span>
                            </div>
                            <!-- List -->
                            <ul role="list" class="mb-8 space-y-4 text-left">
                                <li class="flex items-center space-x-3">
                                    <!-- Icon -->
                                    <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                                <span >{{"fixed charge"|translate}}: <span class="font-semibold primary-color">{{pakage.fixed_charge}}</span></span>
                                </li>
                                <li class="flex items-center space-x-3">
                                    <!-- Icon -->
                                    <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                                    <span>{{"sms charge"|translate}}: <span class="font-semibold primary-color">{{pakage.percent_charge}}</span></span>
                                    
                                </li>
                                <li class="flex items-center space-x-3">
                                    <!-- Icon -->
                                    <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                                    <span>{{"minimum withdrawal"|translate}}: <span class="font-semibold primary-color">{{pakage.min_limit}}</span></span>
                                </li>
                            </ul>
                            <button (click)="choicePakage(pakage.id)" class="btn btn-primary btn-round m-8">{{"Get subscription"|translate}}</button>
                        </div>
                    }
                 }
                
                <!-- Pricing Card -->
                
                <!-- Pricing Card -->
            </div>
        </div>
    </div>
</div>