<div>
    <div class="flex mb-20 mt-10">
        <div class="w-1/2">
            <h1>{{"transactions"|translate}}</h1>
        </div>
    </div>
    
    <div>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" >
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr >
                    
                    <th scope="col" class="px-6 py-3">{{"reicever"|translate}}</th>
                    <th scope="col" class="px-6 py-3">{{"type"|translate}}</th>
                    <th scope="col" class="px-6 py-3">{{"price"|translate}}</th>
                    <th scope="col" class="px-6 py-3">{{"status"|translate}}</th>
                    <th scope="col" class="px-6 py-3">{{"wi-fi zone"|translate}}</th>
                    <th scope="col" class="px-6 py-3">{{"pakage-wifi"|translate}}</th>
                    <th scope="col" class="px-6 py-3">{{"ticket"|translate}}</th>
                    <th scope="col" class="px-6 py-3">{{"create at"|translate}}</th>
                    <th scope="col" class="px-6 py-3">Actions</th>
                    
                    
                </tr>
            </thead>
            
            <tbody>
                @if(transactions$|async; as transactions){
                    @for(transaction of transactions;track transaction.id;;let i=$index){
                        <tr class="dark:bg-gray-800 dark:border-gray-700" [ngClass]="i%2!==0?'bg-gray-100 border-b':'bg-white border-b'">
                            <td class="px-6 py-4 primary-color" >{{transaction.receiver_number}}</td>
                            <td class="px-6 py-4">{{transaction.type}}</td>
                            <td class="px-6 py-4">{{transaction.price}}</td>
                            <td class="px-6 py-4">{{transaction.status}}</td>
                            <td class="px-6 py-4">{{transaction.ticket_wifi.pakage_wifi.zone_wifis.name}}</td>
                            <td class="px-6 py-4">{{transaction.ticket_wifi.pakage_wifi.designation}}</td>
                            <td class="px-6 py-4">{{transaction.ticket_wifi.username}}</td>
                            <td class="px-6 py-4">{{transaction.created_at|date:'medium'}}</td>
                            
                            <td class="btn-action">
                                <button class="btn btn-outline-primary btn-danger" (click)="detailTransaction(transaction)"><i class="fa-solid fa-eye"></i></button>
                            </td>
                        </tr>
                    }
                }
                    
            
            </tbody>
        </table>
        <mat-paginator #paginator [length]="totaElement" (page)="pageEvent=pageChange($event)"
        [pageSize]="itemsPerPage"
       [pageSizeOptions]="pageArray"
       
       aria-label="Select page">
       </mat-paginator>
    </div>
</div>